@import 'normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");


:root {
    --font-family: "Manrope", sans-serif;
    --primary: #b7eb34;
    --black: #000;
    --white: #fff;
    --text-color: #333;

    //Default Layout
    --default-layout-header-height: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

