.header-main {
    width: 100%;
    min-height: 70px;
    z-index:1000;
    font-family: var(--font-family);
    
}

.logo {
    width: 150px;
    height: 150px;

}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}