.header-main {
    width: 100%;
    min-height: 70px;
    z-index:1000;
    font-family: var(--font-family);
    background-color: #222222;
}


.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-item {
    font-family: 'Manrope';
}

.hero-gradient {
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}