.header-main {
    background-color: #3a3a3c;
    width: 100%;
    min-height: 70px;
    z-index:1000;
}

.logo {
    width: 150px;
    height: 70px;
    position: relative;
    left: -38px;
    top: 5px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}