.header-top {
    background-color: #7ed957;
    min-height: 45px;
    
}

.hot-line {
    font-family: var(--font-family);
    font-size: 0.8rem;
    font-weight: 500;
    color: #031b34;
}

.top-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5px;
    margin-right: 5px;
}

.gradient__bg {
	background: linear-gradient(19deg, rgba(196,255,98,1) 0%, rgba(138,201,37,1) 19%, rgba(36,74,2,1) 100%);
}
